<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://getdelays.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>getdelays.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GetDelays</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GetDelays</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="getdelays.be.Models.DAL.Context" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:getdelays.database.windows.net,1433;Initial Catalog=getdelays;Persist Security Info=False;User ID=thelittlewozniak;Password=Ruedesdames14;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:getdelays.database.windows.net,1433;Initial Catalog=getdelays;Persist Security Info=False;User ID=thelittlewozniak;Password=Ruedesdames14;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="getdelays.be.Models.DAL.Context, getdelays.be" MigrationConfiguration="getdelays.be.Migrations.Configuration, getdelays.be" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="getdelays.be.Models.DAL.Context-Web.config Connection String">
      <ParameterValue>Server=tcp:getdelays.database.windows.net,1433;Initial Catalog=getdelays;Persist Security Info=False;User ID=thelittlewozniak;Password=Ruedesdames14;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="getdelays.be.Models.DAL.Context" />
  </ItemGroup>
</Project>