@using GetDelaysAPI;
@{
    ViewBag.Title = "SearchStation";
    List<StationData> stat = ViewBag.s;
}

<h2>Search a Station</h2>
<ul class="list-group">
    <li id="search">
        <input type="text" id="stat" onkeyup="ListStation()" />
    </li>
    @foreach (StationData s in stat)
    {
        <li class="station list-group-item list-group-item-action">@Html.ActionLink(s.name, "GetStationsByName", "Station", routeValues: new { station = s.name }, htmlAttributes: null)</li>
    }
</ul>
