
@{
    ViewBag.Title = "CreateAccount";
    string error = ViewBag.error;
}

<h2>Create Account</h2>
<p>@error</p><br />
@using (Html.BeginForm("MakeAccount", "Login", FormMethod.Post))
{
<p>
    Name:<input type="text" id="name" name="name" /><br />
    Firstname:<input type="text" id="surname" name="surname" /><br />
    Email:<input type="text" id="email" name="email" /><br />
    Password:<input type="password" id="password" name="password" /><br />
    Phone Number:<input type="tel" id="phoneNumber" name="phoneNumber" /><br />
    <input type="submit" value="submit" />
</p>
}

