@using getdelays.be.Models.POCO;
@{
    ViewBag.Title = "Change your informations";
    User u = ViewBag.user;
}

<h2>Change your information</h2>
@using (Html.BeginForm("MakeChange", "profil", FormMethod.Post))
{
    <p>
        Name:<input type="text" id="name" name="name" value="@u.name" /><br />
        Firstname:<input type="text" id="surname" name="surname" value="@u.surname" /><br />
        Email:<input type="text" id="email" name="email" value="@u.email" /><br />
        Phone Number:<input type="tel" id="phoneNumber" name="phoneNumber" value="@u.phoneNumber" /><br />
        <input type="submit" value="submit" />
    </p>
}


