@using GetDelaysAPI;
@{
    ViewBag.Title = "Change your informations";
    User u = ViewBag.user;
}

@using (Html.BeginForm("MakeChange", "User", FormMethod.Post))
{
    <fieldset>
        <legend>Change your information</legend>
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" value="@u.email">
        </div>
        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" name="name" id="name" value="@u.name">
        </div>
        <div class="form-group">
            <label>FirstName:</label>
            <input type="text" class="form-control" name="surname" id="surname" value="@u.surname">
        </div>
        <div class="form-group">
            <label>Phone Number:</label>
            <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber" value="@u.phoneNumber">
        </div>
        <button type="submit" id='submit' class="btn btn-primary">Submit</button>
    </fieldset>
}


